/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: grey;
    font-family: "Jersey 10", sans-serif;
}
.container{
width: 65%;
margin-top: 50px;
}

#col{
    background-color: rgb(8, 46, 46);
    color: aliceblue;
    justify-content: space-between;
    border-radius: 3px;
}

.d-flex{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 40px;;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 80px;
}